@page "/"

<PageTitle>Inicio</PageTitle>

<h1>¡Bienvenido!</h1>

<p> <h3> Gracias por visitar mi tarea. Aqui podras explorar un poco de web con blazor </h3> </p>

<h3> Frase motivadora:</h3>
<p> "El arte de la programación es como escribir musica lo haces línea por línea, llevas tus ideas a la realidad."</p>
