@page "/yo"

<PageTitle>Sobre mi </PageTitle>

<img src="images/yo.jpg" style="width: 100px" alt="Imagen de la calculadora"

<h1>Nombre completo: </h1>

<h3>Cristian Emil Pimentel Feliz</h3>

<p><strong>WhatsApp:</strong> <a href="https://wa.link/ifs9j9">Chatear en WhatsApp</a></p>
<p><strong>Telegram:</strong> <a href="https://msng.link/o?Young_Cris=tg">Chatear en Telegram</a></p>
<p><strong>Correo:</strong> cristianepimentel.f@gmail.com</p>
<p><strong>Descripción:</strong> Me gustaría dedicarme a ser programador backend cuando termine en el ITLA.</p>